@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="text-center">
    <form asp-area="" asp-controller="Auth" asp-action="Login" method="post">
       
        <div>
            <input asp-for="UserName" placeholder="UserName" />
        </div>
         <div>
            <input asp-for="Password" placeholder="Password"/>
        </div>
        <span asp-validation-for="UserName"></span><br>
        <span asp-validation-for="Password"></span>
        <button type="submit">ВХОД</button>
    </form>
    <a asp-controller="Auth" asp-action="Registration">Registration</a>
</div>

