
@{
    ViewData["Title"] = "UserProfile";
}

<h1>UserProfile</h1>

<a asp-controller="Auth" asp-action="Logout">Logout</a>

<a asp-controller="Home" asp-action="Test">Http Запрос в Microservice.Admin</a>
